apiVersion: apps/v1
kind: Deployment
metadata:
  name: panel-app
spec:
  template:
    spec:
      containers:
      - name: panel
        env:
        - name: DEPLOYMENT_ENV
          value: "kubernetes"
        - name: K8S_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: K8S_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName