apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: panel-storage
  labels:
    app: panel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard