[Unit]
Description=Panel Session Cleanup Timer
Requires=session-cleanup.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
