{% extends "base.html" %}

{% block title %}Admin Teams - Panel{% endblock %}

{% block content %}
<div class="container">
  <h1>👪 Team Management</h1>

  <div class="card">
    <div class="card-body">
      <form action="/admin/teams/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group">
          <label for="team-name">Team Name</label>
          <input id="team-name" class="form-control" type="text" name="name" placeholder="Team Name" required />
        </div>

        <div class="form-group">
          <label for="team-description">Description</label>
          <input id="team-description" class="form-control" type="text" name="description" placeholder="Description" />
        </div>

        <button type="submit" class="btn btn-primary">Create Team</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}